@import "./../../_colors.scss";
.radio-button {
  padding: 5px;
  background: $green;
  color: $black;
  width: 75px;
  border-radius: 5px;
  margin: 5px;
  text-align: center;
  cursor: pointer;
  font-weight: 400;
  &:hover,
  &.selected {
    background-color: $green-dark-20;
    font-weight: 500;
  }
  input[type="radio"] {
    display: none;
  }
  label {
    font-size: 12px;
    cursor: pointer;
  }
}
